---
import PhoneImageGallery from "../components/PhoneImageGallery";
import binIcon from "../assets/binIcon.svg";
import Layout from "../layouts/Layout.astro";
import { supabase } from "./../utils/supabase";

interface PhoneData {
    id: number;
    producent: string;
    model: string;
    oznaczenie: string;
    kolor: string;
    sprawny: boolean;
    stan: string;
    numer_seryjny: string;
    kraj: string;
    jezyk: string;
    simlock: string;
    uwagi: string;
    opakowanie: boolean;
    rok_produkcji: Date;
    zdarzenie: string;
    model_baterii: string;
    made: Date;
    life_timer: string;
    posiadany: boolean;
}

const params = Astro.url.searchParams;
const id = params.get("id");

const { data: pData, error: phoneError } = await supabase
    .from("telefony")
    .select()
    .eq("id", id);
const phoneData = pData as PhoneData[];
if (phoneError) console.error(phoneError);
const data = phoneData[0];

const { data: imageNamesFetch, error: imagesError } = await supabase.storage
    .from("images")
    .list("telefony/" + id);

if (imagesError) console.error(imagesError);
const imageNames = imageNamesFetch?.map((image) => image.name) || [];

const imageUrls = imageNames?.map((imageName) => {
    const { data: image } = supabase.storage
        .from("images")
        .getPublicUrl(`telefony/${id}/${imageName}`);
    return image.publicUrl;
});

//TODO:
// - add "remove"  button with a confirmation dialog
---

<Layout title="Atari muzeum">
    <div class="flex flex-row min-h-full justify-center">
        <div
            class="bg-white border-[3px] border-black flex flex-col m-4 min-w-80 w-auto"
        >
            <div
                class="bg-mainBgDark text-lg p-2 font-bold font-pixeledFont flex flex-row justify-between items-center"
            >
                <h1>{data.producent} {data.model}</h1>
            </div>
            <div class="flex flex-col p-2">
                <p>id: {data.id}</p>
                <p>producent: {data.producent}</p>
                <p>model: {data.model}</p>
                <p>oznaczenie: {data.oznaczenie}</p>
                <p>kolor: {data.kolor}</p>
                <p>sprawny: {data.sprawny ? "tak" : "nie"}</p>
                <p>stan: {data.stan}</p>
                <p>numer seryjny: {data.numer_seryjny}</p>
                <p>kraj: {data.kraj}</p>
                <p>jezyk: {data.jezyk}</p>
                <p>simlock: {data.simlock}</p>
                <p>uwagi: {data.uwagi}</p>
                <p>opakowanie: {data.opakowanie ? "tak" : "nie"}</p>
                <p>
                    rok produkcji: {
                        data.rok_produkcji
                            ? data.rok_produkcji.toString()
                            : "N/A"
                    }
                </p>
                <p>zdarzenie: {data.zdarzenie}</p>
                <p>model baterii: {data.model_baterii}</p>
                <p>made: {data.made ? data.made.toString() : "N/A"}</p>
                <p>life_timer: {data.life_timer}</p>
                <p>posiadany: {data.posiadany ? "tak" : "nie"}</p>
                <p>
                    <span class="text-red-800">uwagi:</span>
                    {data.uwagi}
                </p>
            </div>
        </div>

        <PhoneImageGallery imageUrls={imageUrls} client:only="react" />
    </div>
</Layout>
