---
import PhoneImageGallery from "../components/PhoneImageGallery";
import Layout from "../layouts/Layout.astro";
import { supabase } from "../utils/supabase";
import type { PhoneData } from "../utils/interface/PhoneData";
import PhoneDeletion from "../components/PhoneDeletionButton";
import editIcon from "../assets/editIcon.svg";

const { cookies } = Astro;

const accessToken = cookies.get("accessToken");
const refreshToken = cookies.get("refreshToken");

let session;
let isAdmin = false;
if (accessToken && refreshToken) {
    try {
        session = await supabase.auth.setSession({
            refresh_token: refreshToken.value,
            access_token: accessToken.value,
        });

        if (session.error) {
            Astro.cookies.delete("accessToken", {
                path: "/",
            });
            Astro.cookies.delete("refreshToken", {
                path: "/",
            });

            // return Astro.redirect("/login");
        }

        // Admin check Start
        const { data: adminCheck, error: adminError } = await supabase
            .from("admins")
            .select("admin_id")
            .eq("admin_id", session.data.user?.id)
            .single();

        isAdmin = adminCheck !== null;
        // Admin check END
    } catch (error) {
        Astro.cookies.delete("accessToken", {
            path: "/",
        });
        Astro.cookies.delete("refreshToken", {
            path: "/",
        });

        // return Astro.redirect("/login");
    }
}

const isLogged = accessToken && refreshToken;

const params = Astro.url.searchParams;
const id = params.get("id");

const { data: pData, error: phoneError } = await supabase
    .from("telefony")
    .select()
    .eq("id", id);

if (phoneError) console.error(phoneError);
if (pData?.length == 0) {
    console.error("No data found for id: " + id);
    return Astro.redirect("/phones");
}

const phoneData = pData as PhoneData[];
const data = phoneData[0];

const { data: imageNamesFetch, error: imagesError } = await supabase.storage
    .from("images")
    .list("telefony/" + id);

if (imagesError) console.error(imagesError);

const imageNames = imageNamesFetch?.map((image: any) => image.name) || [];

const imageUrls = imageNames?.map((imageName: string) => {
    const { data: image } = supabase.storage
        .from("images")
        .getPublicUrl(`telefony/${id}/${imageName}`);
    return image.publicUrl;
});
---

<Layout title="Atari muzeum">
    <div class="h-screen pt-12 pb-8">
        <div class="flex flex-row min-h-full justify-center w-full h-full">
            <div
                class="bg-white border-[3px] border-black flex flex-col m-4 min-w-80 w-auto max-w-96 h-fit max-h-full"
            >
                <div
                    class="bg-mainBgDark text-lg p-2 font-bold font-pixeledFont flex flex-row justify-between items-center"
                >
                    <h1 class="text-2xl">{data.producent} {data.model}</h1>
                    {
                        isLogged && isAdmin && (
                            <div class="flex flex-row p-0 m-0 justify-center items-center">
                                <a href={`/phoneEdit?id=${data.id}`}>
                                    <img
                                        src={editIcon.src}
                                        class="hover:scale-110 w-5 h-5"
                                        alt="Link Icon"
                                    />
                                </a>
                                <PhoneDeletion id={data.id} client:load />
                            </div>
                        )
                    }
                </div>
                <div
                    class="flex flex-col [&>*:nth-child(odd)]:bg-slate-200 [&>*:nth-child(even)]:bg-slate-300 overflow-y-scroll h-full betterScroll"
                >
                    <p class="p-2">
                        <span class="font-bold">id:</span>
                        {data.id}
                    </p>
                    <p class="p-2">
                        <span class="font-bold">producent:</span>
                        {data.producent}
                    </p>
                    <p class="p-2">
                        <span class="font-bold">model:</span>
                        {data.model}
                    </p>
                    <p class="p-2">
                        <span class="font-bold">oznaczenie:</span>
                        {data.oznaczenie}
                    </p>
                    <p class="p-2">
                        <span class="font-bold">kolor:</span>
                        {data.kolor}
                    </p>
                    <p class="p-2">
                        <span class="font-bold">sprawny:</span>
                        {data.sprawny ? "tak" : "nie"}
                    </p>
                    <p class="p-2">
                        <span class="font-bold">stan:</span>
                        {data.stan}
                    </p>
                    <p class="p-2">
                        <span class="font-bold">numer seryjny:</span>
                        {data.numer_seryjny}
                    </p>
                    <p class="p-2">
                        <span class="font-bold">kraj:</span>
                        {data.kraj}
                    </p>
                    <p class="p-2">
                        <span class="font-bold">jezyk:</span>
                        {data.jezyk}
                    </p>
                    <p class="p-2">
                        <span class="font-bold">simlock:</span>
                        {data.simlock}
                    </p>
                    <p class="p-2 text-wrap">
                        <span class="font-bold">uwagi:</span>
                        {data.uwagi}
                    </p>
                    <p class="p-2">
                        <span class="font-bold">opakowanie:</span>
                        {data.opakowanie ? "tak" : "nie"}
                    </p>
                    <p class="p-2">
                        <span class="font-bold">rok produkcji:</span>
                        {
                            data.rok_produkcji
                                ? data.rok_produkcji.toString()
                                : "N/A"
                        }
                    </p>
                    <p class="p-2">
                        <span class="font-bold">zdarzenie:</span>
                        {data.zdarzenie}
                    </p>
                    <p class="p-2">
                        <span class="font-bold">model baterii:</span>
                        {data.model_baterii}
                    </p>
                    <p class="p-2">
                        <span class="font-bold">made:</span>
                        {data.made ? data.made.toString() : "N/A"}
                    </p>
                    <p class="p-2">
                        <span class="font-bold">life_timer:</span>
                        {data.life_timer}
                    </p>
                    <p class="p-2">
                        <span class="font-bold"> posiadany:</span>
                        {data.posiadany ? "tak" : "nie"}
                    </p>
                    <p class="p-2 text-wrap">
                        <span class="text-red-800 font-bold">uwagi:</span>
                        {data.uwagi}
                    </p>
                </div>
            </div>

            <div
                class="h-full w-full flex flex-row flex-wrap overflow-y-auto gap-4 p-4 m-4 ml-0 border-[3px] border-black content-start bg-white betterScroll"
            >
                <PhoneImageGallery imageUrls={imageUrls} client:only="react" />
            </div>
            {
                isLogged && isAdmin && (
                    <a
                        href={`/editPhonePhotos?id=${data.id}`}
                        class="fixed bottom-4 right-4 bg-blue-500 text-white p-2 rounded"
                    >
                        Edytuj zdjęcia
                    </a>
                )
            }
        </div>
    </div>
    <style>
        .betterScroll::-webkit-scrollbar {
            width: 0.4rem;
        }

        .betterScroll::-webkit-scrollbar-thumb {
            background-color: #888;
            border-radius: 0px;
            border: none;
            padding: 0;
        }

        .betterScroll::-webkit-scrollbar-track {
            background: #d1d1d1;
            border-radius: 0px;
            padding: 0;
        }

        .betterScroll::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    </style>
</Layout>
